.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
   /* grid-template-rows: minmax(100px,auto);?/
   /* grid-template-areas: 
    "zero zero zero zero",
    "signs signs signs signs",
    "numbers numbers numbers equelsign",
    "numbers numbers numbers equelsign"
    "numbers numbers numbers equelsign"
    "numbers numbers numbers equelsign";
    */
    width: 50%;
    font-size: 36px;
}
.zero {
    background: rgb(83, 82, 82);
   /* grid-area: zero;*/
   grid-column: 1/5;
   display: grid;
   justify-items: end;
   padding: 1em;
   
}
.signs {
    background: rgb(139, 137, 137);
   /* grid-area: signs;*/
   grid-column: 1/5;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   

}

.signs > div {
    border: 0.5px solid;
    width: 100%;
    display: grid;
    place-content: center;
    height: 100px;
}


.numbers {
   background: rgb(173, 171, 171);
   /* grid-area: numbers;*/
   grid-column: 1/4;
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   grid-auto-rows: minmax(100px, auto);
}

.numbers > div {
    border: 0.5px solid;
    width: 100%;
    display: grid;
    place-content: center;
}
.equelsign {
    background: rgb(210, 138, 79);
   /* grid-area: equelsign;*/
   grid-column: 4/5;
   display: grid;
   place-content: center;
   
   

}
section {
    border: 1px solid;
}
